
<div class="row">
  <div class="large-8 columns">

    <h1>Newest Studios</h1>

    <% @studios.each do |studio| %>
      <div class="studio-block">
        <div class="photo">
          <!-- <%= image_tag 'http://lorempixel.com/300/200/technics' %> -->
        </div>
        <div class="info">
          <div class="header">
            <%= link_to studio.user.username, studio.url %></li>
          </div>
          <div class="content">
          </div>
        </div>

        <div class="clear-fix"></div>
      </div>
    <% end %>
    <%= will_paginate @studios %>
  </div>

  <div class="large-4 columns">
    <%= render :partial => 'studio/get_started' %>

    <div class="recent-comments">
      <h2>Recent Comments</h2>
      <ul>
        <% @comments.each do |comment| %>
          <li>
            <% commentable = comment.commentable_type.constantize.find(comment.commentable_id) %>
            <%= link_to comment.user.username, "/#{comment.user.username}" %> commented on <%= link_to commentable.name, commentable.url %>:<br />
            <%= comment.body %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
