<%= render :partial => 'studio_header' %>

<div class="studio-info">
  <div class="row">
    <div class="large-7 columns">
      <%= image_tag 'sample_studio.jpg' %>
    </div>
    <div class="large-5 columns">
      <p>I set my studio up late last January, primarily for recording guitar and vocals.</p>
      <i>No Recordings Yet</i>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <ul class="gear-filters">
      <li><%= link_to 'Keyboards (3)', '#' %></li>
      <li><%= link_to 'Interfaces (1)', '#' %></li>
      <li><%= link_to 'Microphones (1)', '#' %></li>
    </ul>
  </div>

  <div class="large-10 columns">
    <% @studio.gear.each do |g| %>
      <% if g.category == 'FireWire Audio Interfaces' %>
        <div class="row">
          <div class="large-4 large-centered columns">
            <%= image_tag g.url_image_large %>
            <%= link_to g.name, g %>
          </div>
        </div>
      <% end %>
    <% end if false %>

    <div id="gear-container">
      <% @studio.gear.each do |g| %>
        <%= link_to g, :class => 'item' do %>
          <%= image_tag g.url_image_large %><br />
          <%= g.name %>
        <% end %>
      <% end %>
    </div>

    <% if @logged_in %>
      <%= link_to 'Add Gear', '/upload', :class => 'button' %>
    <% end %>
  </div>
</div>
