<%= render :partial => 'studio_header' %>

<div class="studio-info">
  <div class="row">
    <div class="large-7 columns">
      <%= image_tag 'sample_studio.jpg' %>
    </div>
    <div class="large-5 columns">
      <p>I set my studio up late last January, primarily for recording guitar and vocals.</p>
      <i>No Recordings Yet</i>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-2 columns gear-filters">
    <div class="filter-label">Filter by Category</div>
    <ul>
      <% @gear.group_by { |gear| gear.category }.each do |cat,g| %>
        <li><%= link_to "#{cat} (#{g.size})", '#' %></li>
      <% end %>
    </ul>
  </div>

  <div class="large-10 columns">

    <div id="gear-container">
      <% @gear.each do |g| %>
        <%= link_to g, :class => 'item' do %>
          <%= image_tag g.image_url %><br />
          <%= g.name %>
        <% end %>
      <% end %>
    </div>

    <% if @logged_in %>
      <%= link_to 'Add Gear', '/upload', :class => 'button' %>
    <% end %>
  </div>
</div>
