<% title "Gear" %>

<p># Users using this: <%= @gear.ownerships.count %></p>
<ul>
  <% @gear.ownerships.each do |o| %>
    <li><%= link_to o.studio.user.username, o.studio.url %></li>
  <% end %>
</ul>

<%= image_tag @gear.url_image_large %>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>SKU:</strong>
  <%= @gear.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gear.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @gear.category %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @gear.manufacturer %>
</p>

<p>
  <strong>Shipping Cost:</strong>
  <%= @gear.shipping_cost %>
</p>

<p>
  <strong>Product Type:</strong>
  <%= @gear.product_type %>
</p>

<p>
  <%= link_to "Edit", edit_gear_path(@gear) %> |
  <%= link_to "Destroy", @gear, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gear_path %>
</p>
