<% title @gear.name %>

<div class="gear-details">
  <h1><%= @gear.name %></h1>
  <div class="info">
    <div class="image">
      <%= image_tag @gear.image_url %>
    </div>

    <div class="similar-gear">
      <div class="header">What Others Use:</div>
      <ul>
        <% @gear.more_popular.each do |g| %>
          <li><%= link_to g.name, g %></li>
        <% end %>
        <li class="current"><%= link_to @gear.name, @gear %></li>
        <% @gear.less_popular.each do |g| %>
          <li><%= link_to g.name, g %></li>
        <% end %>
      </ul>
    </div>

    <% if false %>
      <div class="buy-link"><%= link_to 'Buy Now!', @gear.buy_url, :class => 'button' %></div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="large-8 columns comments">
    <h2>Comments</h2>

    <div id="comment-list">
      <%= render :partial => 'comments/show', :locals => { :commentable => @gear } %>
    </div>

  </div>
  <div class="large-4 columns">
    <h2>Studios Using This: <%= @gear.ownerships.count %></h2>
    <ul>
      <% @gear.ownerships.each do |o| %>
        <li><%= link_to o.studio.user.username, o.studio.url %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if false %>
<p>
  <%= link_to "Edit", edit_gear_path(@gear) %> |
  <%= link_to "Destroy", @gear, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gear_path %>
</p>
<% end %>
