<% title "Gear" %>

<p># Users using this: <%= @gear.ownerships.count %></p>
<ul>
  <% @gear.ownerships.each do |o| %>
    <li><%= link_to o.studio.user.username, o.studio.url %></li>
  <% end %>
</ul>

<ul class="similar-gear">
  <% @gear.more_popular.each do |g| %>
    <li><%= link_to g.name, g %></li>
  <% end %>
  <li class="current"><%= link_to @gear.name, @gear %></li>
  <% @gear.less_popular.each do |g| %>
    <li><%= link_to g.name, g %></li>
  <% end %>
</ul>

<%= image_tag @gear.image_url, :style => 'width: 100px;' %>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>SKU:</strong>
  <%= @gear.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gear.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @gear.advertiser_category %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @gear.manufacturer %>
</p>


<p>
  <%= link_to "Edit", edit_gear_path(@gear) %> |
  <%= link_to "Destroy", @gear, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gear_path %>
</p>
